{
  "root": true,
  "extends": [
    "defaults",
    "airbnb-typescript-prettier",
    "prettier"
  ],
  "globals": {
    "__DEV__": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "useJSXTextNode": true,
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
	"@typescript-eslint/no-unused-vars": "off",
	"unused-imports/no-unused-imports": "error",
	"unused-imports/no-unused-vars": [
		"warn",
		{ "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
	],
	"import-helpers/order-imports": [
		"warn",
		{
			"newlinesBetween": "always",
			"groups": [
				"/^react/",
				"/^@/",
				"module",
				["parent", "sibling", "index"],
			],
			"alphabetize": { "order": "asc", "ignoreCase": true }
		}
	],
    "radix": 0,
    "no-prototype-builtins": 0,
    "no-return-await": 0,
    "no-empty": 0,
    "no-param-reassign": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/no-array-index-key": 0,
    "react/require-default-props": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "react/jsx-props-no-spreading": 0,
    "react/function-component-definition": 0,
    "react/static-property-placement": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "@typescript-eslint/no-empty-function": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import/named": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0
  },
  "plugins": [
    "import",
    "jsx-a11y",
    "prettier",
    "react",
    "react-hooks",
    "@typescript-eslint",
    "import-helpers",
    "unused-imports"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".jsx", ".tsx"],
        "paths": ["src"]
      }
    }
  }
}
